// Typography

// Import Work Sans from Google
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,800,900');

// Create paragraph styles
@mixin h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 45/40;
  text-transform: none;
}

@mixin h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 45/40;
  text-transform: none;
}

@mixin h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 15/20; // This may not be an intentional line-height--but is what was in design file
  text-transform: uppercase;
}

@mixin h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30/20;
  text-transform: none;
}

@mixin copy {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 12;
  line-height: 14/12;
  text-transform: none;
}

// Convenience classes
.h1{
  @include h1;
}
.h2{
  @include h2;
}
.h3{
  @include h3;
}
.copy{
  @include copy;
}