// Typography

// Recreate paragraph styles from InDesign Document

// Name in ID file: H1 MADE
@mixin h1 {
  font-size: 20px;
  font-weight: 900; // Black
  letter-spacing: 0;
  line-height: 1.25; //25/20;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;
  @include media-md {
    font-size: 55px;
    line-height: 1.1818;  //65/55;
  }
}

// Name in ID file: H2 MADE
@mixin h2 {
  font-size: 20px;
  font-weight: 800; // ExtraBold
  letter-spacing: 0;
  line-height: 1.25; //25/20;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;
  @include media-md {
    font-size: 40px;
    line-height: 1.25; //50/40;
  }
}

// Name in ID file: H3 MADE
@mixin h3 {
  font-size: 16px;
  font-weight: 700; // Bold
  letter-spacing: 0;
  line-height: 1.5; //24/16;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;
  @include media-md {
    font-size: 20px;
    line-height: 1.25; //25/20;
  }
}

// Name in ID file: H4 MADE NAV
@mixin h4 {
  font-size: 16px;
  font-weight: 900; // Black
  letter-spacing: 0;
  line-height: 1.2; //19.2/16;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
}

// Name in ID file: H4 MADE NAV (smaller version)
@mixin h5 {
  font-size: 12px;
  font-weight: 900; // Black
  letter-spacing: 0;
  line-height: 1.2; //14.4/12;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
}

// Name in ID file: H5 MADE
@mixin fine-print {
  font-size: 12px;
  font-weight: 500; // Medium
  letter-spacing: 0;
  line-height: 1.5; //18/12;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;
}

// Name in ID file: PARA BIG
@mixin para-big {
  font-size: 16px;
  font-weight: 400; // Regular
  letter-spacing: 0;
  line-height: 1.5; //24/16;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;
  @include media-md {
    font-size: 20px;
    line-height: 1.5; //30/20;
  }
}

// Name in ID file: PARA SMALL
@mixin para-small {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5; //24/16;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;
}

// Convenience Classes

.h1 {
  @include h1;
}
.h2 {
  @include h2;
}
.h3 {
  @include h3;
}
.h4 {
  @include h4;
}
.h5 {
  @include h5;
}
.fine-print {
  @include fine-print;
}
.para-big {
  @include para-big;
}
.para-small {
  @include para-small;
}