// Variables

// Colors
$black: #000;
$white: #fff;
$blue: #02bed6;
$gold: #fdbb30;
$gray: rgb(135,135,135);

// Brand Swatches
$brand-primary: $black;
$brand-secondary: $white;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 700px;
$breakpoint-large: 1200px;
$breakpoint-nav: 850px;
