.front-page-1 {
  height: 70vh;
}

.front-page-2 {
  padding-top: 50px;
}

// Home page
// Add footer
// Featured Art -- get rid of your smartass nonsense replace with latin


// ABout page
// Artist profiles -- and artist pages -- rows 3
// Add big image below boty anthology text

// X images

// Make sticky nav ALWAYS be white (.white)
// implement calibre
// pink-> gray

// POSTS
// featured images 
// inline images (are captions possible?)

//  Cat Project -> Current Project

// LISTING
// shorten excerpts
// Add featured image
// remove category meta and author meta


// Qs
// Sample Content

// FEATURED ARTWORK

// anchor link to login in main nav


.entry-content, .entry-header {
    max-width: 1024px;
    margin: auto;
    text-align: left;
}

.archive .archive-description, .page .entry-header {
  display: none !important;
}

.archive .category-featured-artwork .entry-title {
  font-size: 3rem;
}

body, h1, h2, h3, h4, h5, p, a {
  font-family: 'Calibre' !important;
}