.front-page-1 {
  height: 70vh;
}

.front-page-2 {
  padding-top: 50px;
}

// X images
// add smooth scroll to login link

// Global

// Selectively remove headers that are redundant because the top nav also shows page title
.archive .archive-description, 
.page-about .entry-header,
.page-get-involved .entry-header
 {
  // display: none;
  @include sr-only;
}


// Cleanse the fonts
* {
  font-family: 'Calibre' !important;
  letter-spacing: 0.02em !important;
  text-transform: none !important;
}


// FRONT PAGE
// Restyle current-project excerpt
.entry-content, .entry-header {
    max-width: 1024px;
    margin: auto;
    text-align: left;
}


// Smaller titles on featured artwork page
.archive .category-featured-artwork .entry-title {
  font-size: 3rem;
}

// Make content images full-width
.page {
  .entry-content {
    img {
      width: 100%;
    }
  }
}

// Band-aid in a few styles to contributing artist widget on About page
.contributing-artists-widget {
  @include clearfix();
  .widget_text {
    padding: 0;
  }
}

// Display Featured Image on top of the post 
.entry-header::after {
  display: none;
}
