// Home page

// Global Front Page Section Styling
.front-page-section {
  padding: 20px 0 28px 0;
  @include media-md {
    padding: 50px 0 68px 0;
  }

  .wrap {
    padding: 0 35px;
  }

  // The theme has an enormous border top on all sections and an equal negative margin to offset.
  // I ain't havin that
  margin-top: 0;
  border-top: none;

  .widget-title {
    @include h2;
    color: $gold;
  }
  // Fallback background color if no image
  &:nth-of-type(odd) {
    background-color: $black;
    // output.php will add this as fallback if no image is selected:
    // background-image: url(/app/themes/made/fbmods/images/grunge.gif);
  }
}


// Heading Banner
.front-page-banner {
  height: 160px;
  @include media-md {
    height: 50vh;
  }
  .made-logo {
    width: auto;
    height: 60px;
    @include media-md {
      width: 390px;
      height: auto;
    }
  }
}

// Main headline/description under banner
.front-page-description {

  // Wrap
  .wrap {
    max-width: 800px;
  }

  // Header
  .widget-title {
    @include h1;
    color: $blue;
    @include min-screen(850px) {
      margin-left: -1ch;
      margin-right: -1ch;
    };
  }

  // Subheader
  .textwidget {
    &, p {
      @include para-big;
    }

    @include double-line-hr;
  }
}


// Front page recent post slider
.front-page-project-news {

  // Wrap
  .wrap {
    max-width: 1020px;
  }

    // Section Title
  .widget-area .widget_text { // Specificity necessary to override theme style
    margin-bottom: 20px;
    @include media-md{
      margin-bottom: 50px;
    }
    .widget-title {
      margin: 0;
    }
  }

  // Slide Content
  .entry-content, .entry-header {
    text-align: left;
  }
  .entry-title {
    margin-bottom: 5px;
      a {
      @include h3;
      color: $gold;
      text-decoration: underline;
    }
  }
  .entry-meta {
    color: $white;
    @include fine-print;
  }
  .entry-time {
    display: block;
    margin-bottom: 20px;
  }
  .entry-content {
    color: $white;
    @include para-big;
    a.more-link {
      display: none;
    }
  }
  .thumbnail-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 67%;
    margin-bottom: 30px;
    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center center;
      background-color: $gray;
    }
  }


  // Article sliders
  .slider .widget {
    width: 100%;
    padding: 20px 0;

    @include max-screen( $breakpoint-medium - 1px) {
      &:first-of-type {
        padding-top: 0;
      }
    }

    @include media-md {
      padding: 0 50px;
    }
  }

  // Arrows
  .slick-slider {
    position: relative;

    .next-arrow, .previous-arrow {
      top: 50%;
      z-index: 1;
      position: absolute;
      @include opacity-hover;
      background: transparent;
      transition: translateY(-50%);
      &:hover {
        background: transparent;
      }
    }
    .arrow-icon {
      width: 36px;
      height: 36px;
    }
    .next-arrow {
      right: -30px;
    }
    .previous-arrow {
      left: -30px;
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
}

// Comic Update Hover Cards
.front-page-comic-updates {

  // Wrap
  .wrap {
    @include media-md{
      max-width: 85%;    
    }
  }

  // Section Title
  .widget_text {
    margin-bottom: 20px;
    @include media-md{
      margin-bottom: 50px;
    }
    .widget-title {
      margin: 0;
    }
  }

  .thumbnail-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center center;
      background-color: $gray;
    }
  }
}