// Home page

// Global Front Page Section Styling
.front-page-section {
  padding: 50px 0;
  @include media-md {
    padding: 50px 0 68px 0;
  }

  .wrap {
    padding: 0 35px;
  }

  // The theme has an enormous border top on all sections and an equal negative margin to offset.
  // I ain't havin that
  margin-top: 0;
  border-top: none;

  .widget-title {
    @include h2;
    color: $gold;
  }
  // Fallback background color if no image
  &:nth-of-type(odd) {
    background-color: $black;
    // output.php will add this as fallback if no image is selected:
    // background-image: url(/app/themes/made/fbmods/images/grunge.gif);
  }
}

body.front-page #front-page-3 h3.widget-title,
.category-project-blog h1.archive-title {
  background: transparent url('/app/themes/made/images/this-and-that-yellow.png') left top no-repeat;
  background-size: contain;
  width: 257px;
  height: 50px;
  margin: 0 auto;
  text-indent: -9999px;
  @include media-md {
    width: 400px;
    height: 78px;
  }
}
.category-project-blog h1.archive-title {
  background-image: url('/app/themes/made/images/this-and-that-blue.png');
  margin: 0 0 40px;
}


// Heading Banner
.front-page-banner {
  height: 160px;
  @include media-md {
    height: 50vh;
  }
  .made-logo {
    width: auto;
    height: 60px;
    @include media-md {
      width: 390px;
      height: auto;
    }
  }
  .widget_text {
    .button {
      font-weight: bold;
      color: $gold;
      background: $black;
      margin: 30px 10px 0;

      @include media-md {
        margin: 40px 20px 0;
      }
    }
  }
}

// Main headline/description under banner
.front-page-description {

  // Wrap
  .wrap {
    max-width: 800px;
  }

  // Header
  .widget-title {
    @include h1;
    color: $blue;
    @include min-screen(850px) {
      margin-left: -1ch;
      margin-right: -1ch;
    };
  }

  // Subheader
  section.widget_text:last-of-type .textwidget {
    &, p {
      @include para-big;
    }

    @include double-line-hr-before;
  }
}


// Front page recent post slider
.front-page-project-news {

  // Wrap
  .wrap {
    max-width: 1020px;
  }

  // Section Title
  .widget-area .widget_text { // Specificity necessary to override theme style
    margin-bottom: 20px;
    @include media-md{
      margin-bottom: 50px;
    }
    .widget-title {
      margin: 0;
    }
  }

   // Slide Content
   .entry-title {
      a {
      color: $gold;
    }
  }
  .entry-meta, .entry-content {
    color: $white;
  }
  .entry-content {
    @include para-big;
  }

  // Article sliders
  .slider .widget {
    width: 100%;
    padding: 20px 0;

    @include max-screen( $breakpoint-medium - 1px) {
      &:first-of-type {
        padding-top: 0;
      }
    }

    @include media-md {
      padding: 0 50px;
    }
  }

  // Arrows
  .slick-slider {
    position: relative;

    .next-arrow, .previous-arrow {
      top: 0;
      height: 0;
      padding: 0;
      z-index: 1;
      width: 30px;
      position: absolute;
      padding-bottom: 60%;
      background: transparent;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.3);
        background: transparent;
      }
    }
    .arrow-icon {
      top: 50%;
      left: 50%;
      width: 36px;
      height: 36px;
      position: absolute;
      transform: translate(-50%,-50%);
    }
    .next-arrow {
      right: -15px;
    }
    .previous-arrow {
      left: -15px;
      .arrow-icon {
        transform: translate(-50%,-50%) rotate(180deg);
      }
    }
  }
}

// Comic Update Hover Cards
.front-page-comic-updates {

  .flexible-widgets .widget {
    &.fewer-than-three {
      float: none;
      display: inline-block;
      margin: auto;
    }
  }

  // Wrap
  .wrap {
    @include media-md{
      max-width: 85%;
    }
  }

  // Section Title
  .widget_text {
    margin-bottom: 20px;
    @include media-md{
      margin-bottom: 50px;
    }
    .widget-title {
      margin: 0;
    }
  }

  .thumbnail-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-color: $gray;
      background-position: center center;
    }
  }
}
