// Home page

// Global Front Page Section Styling
.front-page-section {
  padding: 20px 0 28px 0;
  @include media-md {
    padding: 50px 0 68px 0;
  }

  .wrap {
    padding: 0 35px;
  }

  // The theme has an enormous border top on all sections and an equal negative margin to offset.
  // I ain't havin that
  margin-top: 0;
  border-top: none;

  .widget-title {
    @include h2;
    color: $gold;
  }
  // Fallback background color if no image
  &:nth-of-type(odd) {
    background-color: $black;
    // output.php will add this as fallback if no image is selected:
    // background-image: url(/app/themes/made/fbmods/images/grunge.gif);
  }
}


// Heading Banner
.front-page-banner {
  height: 160px;
  @include media-md {
    height: 50vh;
  }
  .made-logo {
    width: auto;
    height: 60px;
    @include media-md {
      width: 390px;
      height: auto;
    }
  }
}

// Main headline/description under banner
.front-page-description {
  .wrap {
    max-width: 800px;
  }
  // Header/
  .widget-title {
    @include h1;
    color: $blue;
    @include min-screen(850px) {
      margin-left: -1ch;
      margin-right: -1ch;
    };
  }
  // Subheader
  .textwidget {
    // Sketchy Double-Lin HR
    &::before {
      content: '';
      width: 210px;
      height: 20px;
      display: block;
      margin: 0 auto;
      background-size: 210px 9px;
      background-repeat: no-repeat;
      background-image: url(/app/themes/made/fbmods/images/hr.png);
      @include media-md {
        margin: 45px auto 40px auto;
      }
    }
  }
  .textwidget, p {
    @include para-big;
  }
}


// Restyle current-project excerpt on front page
.front-page-project-news {
  .wrap {
    max-width: 1020px;
  }
  .entry-content, .entry-header {
    text-align: left;
  }
  .entry-header {
    .entry-title {
      // @include h3;
    }
    a {
      border-bottom: none;
    }
  }
}


// Front page recent post slider
.project-news-slider-area {
  .widget {
    width: 100%;

    &:not(.widget_text) {
      padding: 20px 0;
    }

    @include media-md {
      &:not(.widget_text) {
        padding: 0 50px;
      }
    }
  }

  .slick-slider {
    position: relative;

    .next-arrow, .previous-arrow {
      top: 50%;
      z-index: 1;
      position: absolute;
      transition: translateY(-50%);
    }
    .next-arrow {
      right: 10px;
    }
    .previous-arrow {
      left: 10px;
    }
  }
}

.front-page-comic-updates {
  // padding: 0 0 10px 0;

  .wrap {
    // padding: 0 40px;
    @include media-md{
      max-width: 85%;    
      // padding: 0 35px;
    }
  }
  .featured-content {
    margin-bottom: 15px;
    @include media-md {
      margin-bottom: 20px;
    }
  }
  .widget_text .widget-title {

    margin-bottom: 10px;
    @include media-md{
      margin-bottom: 30px;
    }
  }
}

