// Selectively remove headers that are redundant because the top nav also shows page title
// .archive .archive-description, 
.page-about main > article > .entry-header,
.page-get-involved main > article > .entry-header
 {
  // display: none;
  @include sr-only;
}

// Global page padding
.site-inner {
  padding-top: 30px;
  @include media-md {
    padding-top: 0;
  }
}
main.content {
  @include media-md {
    padding-top: 55px;
  }
}

// Remove this annoying decoration
.entry-header::after {
  display: none;
}

// Styling of post content
.archive, .front-page-project-news, .single {
  .entry-content, .entry-header {
    text-align: left;
  }
  .entry-title {
    @include h3;
    margin-bottom: 5px;
      a {
      @include h3; // Duplicated for specificity
      text-decoration: underline;
    }
  }
  .entry-meta {
    @include fine-print;
  }
  .entry-time {
    display: block;
    margin-bottom: 20px;
  }
  .entry-content {
    a.more-link {
      display: none;
    }
  }
  .thumbnail-wrap, .attachment-post-image {
    width: 100%;
    margin-bottom: 30px;
  }
}

// Global styling of pages/archive/posts
.page, .archive, .single {
  h1,h2,h3,blockquote {
    color: $blue;
    text-align: left;
  }
  .entry-content {
    h1 {
      @include h2;
    }
    h2 {
      @include h2;
    }
    h3 {
      @include h3;
    }
    a {
      color: $blue;
    }
    blockquote {
      @include h2;
      margin-left: 0;
      margin-right: 0;
      font-style: normal; // Overwrite itals
      @include double-line-hr-after;
      @include double-line-hr-before;
      
      @include media-md {
        font-size: 30px; // The md version of h2 is a little too big
      }
      cite, p:last-child:not(:first-child) {
        color: $black;
        @include para-big;
        text-align: center;
      }
      &::before {
        position: static;
        @include max-screen($breakpoint-medium - 1px) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// Archive/Single pages
.archive, .single {
  .archive-title {
    @include h2;
    color: $blue;
  }
  .archive-description {
    border-bottom: 0;
    margin-bottom: 15px;
  }
  .post {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    &:not(:last-of-type) {
      @include double-line-hr-after;
    }
    &:last-of-type {
      margin-bottom: 50px;
    }
  }
  .entry-title {
    a {
      color: $blue;
    }
  }
}

// Archive only
.archive {
  .entry-content {
    p {
      margin: 0;
    }
  }
}

// Artist Page
.parent-about {
  .content {
    @include media-md {
      padding-top: 30px;
    }
  }
  .site-innter {

  }
  .entry-title {
    &:before {
      content: 'Participating Artist: ';
      display: block;
    }
  }
  .thumbnail-wrap {
    padding-bottom: 100%;
    border: 0;
    // @include media-md {
      margin-bottom: 20px;
    // }
  }
  .thumbnail {
    background-size: contain;
    background-color: $white;
  }
}


// Thumbnail Images
.thumbnail-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 67%;
}
.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-color: $gray;
  background-repeat: no-repeat;
  background-position: center center;
}

.thumbnail-wrap, .single .content img {
  width: 100%;
  border: $border-width solid $gray-dark;
}

a {
  @include darken-hover;
}