// Footer
.site-footer {
  text-align: left;
  @include para-small;
  background-size: cover;
  padding: 17px 0 50px 0;
  border-top: 0;
  background-image: url(/app/themes/made/fbmods/images/grunge.gif);
  @include media-md {
    padding: 37px 0 50px 0;
  }
  &, a, a:hover {
    color: $blue;
  }
  a {
    @include darken-hover;
  }
  .widget-title {
    @include h5;
    color: $gold;
    text-align: left;
    margin-bottom: 5px;
    @include media-md {
      margin-bottom: 15px;
    }
  }
  .social-link {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .social-icon {
    width: 46px;
    margin-top: 5px;
    margin-right: 10px;
    @include darken-hover;
  }

  .copyright {
    color: $gray;
    margin-top: 20px;
    text-align: center;
    @include fine-print; 
    @include media-md {
      margin-top: 55px;
    }
    .line {
      display: block;
      @include media-md {
        display: inline;
        &:first-of-type::after {
          content: ' | '
        }
      }
    }
  }
  .made-logo {
    width: 166px;
  }
  .widget_made_logo_footer a, .made-logo {
    &:hover {
      filter: none;
    }
  }
  .widget-area {
    padding: 20px 0;
    @include media-md {
      width: 33.3%;
    }
  }
}

.footer-widgets {
  border: 0;
}