// Footer
.footer-widgets {
  .widget-title {
    text-align: left;
    @include h2;
  }
  .social-link {
    display: inline-block;
  }
  .social-icon {
    width: 40px;
    margin-right: 10px;
  }
}
