// A more generalized refactor of inifinities .team-member hover class
// ...since we want to use this styling in other places than intended.
.hover-card {
  &:hover {
    cursor: pointer;
  }
  a {
    &.aligncenter, &.alignleft, &.alignnone, &.alignright {
      margin: 0;
      display: block;
    }
  }
  a:hover {
    filter: none;
  }
  &.entry {
    color: #fff;
    position: relative;
  }
  .entry-header {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 0;
    height: 100%;
    display: block;
    position: absolute;
    background-color: $gold;
    border: $border-width solid $gray-dark;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(Opacity=0)";
    &:after {
      border-width: 0;
      padding-bottom: 0;
    }
  }
  &.entry {
    &:hover .entry-header, &:focus .entry-header, &.focused .entry-header {
      opacity: 1;
    }
  }
  .entry-header {
    transition: opacity 0s ease-in-out;
    a {
      z-index: 3;
      padding: 20px;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      transform: translateY(10px);
      transition: transform 0.4s ease-in-out;
    }
    &.position-top a {
      padding-top: 45px;
      vertical-align: top;
    }
  }
  &:hover .entry-header a, &:focus .entry-header a, &.focused .entry-header a {
    transform: translateY(1px);
  }
  .more-link {
    &:hover, &:focus {
      color: #fff;
    }
  }
  .entry-title {
    width: 100%; 
    @include h3;
    height: 100%;
    margin-top: 0;
    display: table;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    a {
      color: $black;
    }
  }
  p {
    color: #fff;
  }
}




@include max-screen ($breakpoint-medium - 1px) {
  .hover-card {
    .entry-header {
      top: auto;
      bottom: 0;
      opacity: 0.9;
      height: auto;
      border-top: 0;
      a {
        transform: none;
      }
    }
    &:hover .entry-header a, &:focus .entry-header a, &.focused .entry-header a {
      transform: none;
    }
    &.entry {
      &:hover .entry-header, &:focus .entry-header, &.focused .entry-header {
        opacity: 0.9;
      }
    }
  }
}




.hover-card-area {
  @include clearfix();
  @include media-md{
    margin: 0 -10px 30px;  
  }
}


.participating-artists {
  .thumbnail-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    background-color: $gold;
    .thumbnail {
      top: 5%;
      left: 5%;
      right: 5%;
      bottom: 5%;
      position: absolute;
      background-size: contain;
      background-color: $white;
      mix-blend-mode: multiply;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  article {
    .entry-header {
      background-color: $blue;
    }
  }
}
