// Nav

// wp admin bar push
.admin-bar {}

.nav-primary {
  width: 100%;
}

.site-header {
  border: 0;
}

// Keep nav compressed until 1200px now that we added several more items
@include max-screen(1200px) {
  .genesis-nav-menu a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Desktop
@include min-screen($breakpoint-nav) {

  // Home Logo For Mobile
  .menu-item-home-mobile {
    display: none;
  }

  // Default Nav Style
  .front-page .site-header, .site-header {
    // height: 50px;
    background-color: $black;

    .menu-item {
      vertical-align: top;
    }

    .made-logo {
      opacity: 1;
      width: 100px;
      height: auto;
      transform: none;
      transition: width 0.2s ease-in-out, opacity 0.2s 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out;
    }

    .genesis-nav-menu .menu-item-home a {
      padding: 10px 30px 10px 10px;
    }

    .genesis-nav-menu {
      .current-menu-item, .current-menu-parent {
        a {
          color: $white;
        }
      }
      a {
        @include h5;
        color: $gold;
        padding-top: 16px;
        padding-bottom: 16px;
        @include darken-hover;
      }
    }
  }

  // Homepage Nav Before Scroll
  .front-page .site-header:not(.scrolled)  {
    background-color: transparent;

    .genesis-nav-menu .menu-item-home a {
      padding: 0;
    }

    .made-logo {
      opacity: 0;
      width: 0px;
      height: auto;
      transition: width 0.2s ease-in-out, opacity 0s ease-in-out, transform 0.2s 0s ease-in-out, margin 0.2s 0s ease-in-out;
    }
    .genesis-nav-menu a {
      @include h4;
      color: $black;
      padding: 8px 4px;
      @include min-screen(850px){
        padding: 16px 15px;
      }
      @include opacity-hover;
      &:hover {
        filter: none;
      }

    }
  }
}

// Menu Toggle Button
// This needs to be out of media query because this theme has transitions on every property for the site-header, so these properties need to be set in advance to avoid janky animation
.menu-toggle {
  width: auto;
  float: right;
  @include h5;
  color: $gold;
  text-align: right;
  @include darken-hover;
  outline: none !important;
  padding: 23px 0 23px 40px;
  background-color: transparent;
  &::before {
    top: -1px; // Just pop that guy up a bit to fit baseline
    width: 16px;
    height: 9px;
    position: relative;
    content: '' !important; // Get rid of that pesky glyph
    background: url(/app/themes/made/fbmods/svgs/mobile-nav.svg);
  }
}

// Mobile
@include max-screen($breakpoint-nav - 1px) {

  .site-header {
    position: fixed;
    top: 0 ;
    bottom: inherit;
  }

  #wpadminbar {
    position: fixed;
  }
  .admin-bar .site-header {
    top: 46px;
  }

  .front-page .site-inner, .site-inner { //Specificity
    margin-top: 60px ;
  }

  .menu-item-home-mobile {
    top: 18px;
    left: 25px;
    width: 100px;
    height: auto;
    position: absolute;
  }

  .menu-item-home {
    display: none !important;
  }

  .front-page .site-header, .site-header {
  background-color: $black;

    .genesis-nav-menu {
      padding-bottom: 30px;
      a {
        color: $gold;
        @include h5;
      }
    }
  }
}
